#wrapper {
  height: 400px;
  position: relative;
}
#wrapper > .shape {
  background-color: blueviolet;
  height: 30%;
  width: 30%;
  position: absolute;
  transition: left, top, height, width, border-radius;
  transition-duration: 750ms;
  transition-timing-function: ease-in-out;
}
#wrapper[data-roundness="1"] > .shape {
  border-radius: 6rem;
}
#wrapper[data-roundness="2"] > .shape {
  border-radius: 0rem;
}
#wrapper[data-roundness="3"] > .shape {
  border-radius: 20rem;
}
#wrapper > .shape:nth-child(1) {
  z-index: 0;
  background-color: #c6d0f5;
}
#wrapper > .shape:nth-child(2) {
  z-index: 2;
  background-color: #9ecba3;
}
#wrapper > .shape:nth-child(3) {
  z-index: 0;
  background-color: #e2c5d2;
}
#wrapper > .shape:nth-child(4) {
  z-index: 2;
  background-color: #e67d99;
}
#wrapper > .shape:nth-child(5) {
  z-index: 0;
  background-color: #e76680;
}
#wrapper[data-configuration="1"] > .shape:nth-child(1) {
  left: 0%;
  top: 0%;
  height: 50%;
  width: 20%;
}
#wrapper[data-configuration="1"] > .shape:nth-child(2) {
  left: 20%;
  top: 0%;
  height: 50%;
  width: 30%;
}

#wrapper[data-configuration="1"] > .shape:nth-child(3) {
  left: 50%;
  top: 0%;
  height: 100%;
  width: 50%;
}

#wrapper[data-configuration="1"] > .shape:nth-child(4) {
  left: 0%;
  top: 50%;
  height: 50%;
  width: 30%;
}

#wrapper[data-configuration="1"] > .shape:nth-child(5) {
  left: 30%;
  top: 50%;
  height: 50%;
  width: 20%;
}
#wrapper[data-configuration="2"] > .shape:nth-child(1) {
  left: 0%;
  top: 0%;
  height: 100%;
  width: 20%;
}
#wrapper[data-configuration="2"] > .shape:nth-child(2) {
  left: 20%;
  top: 0%;
  height: 100%;
  width: 20%;
}

#wrapper[data-configuration="2"] > .shape:nth-child(3) {
  left: 40%;
  top: 0%;
  height: 100%;
  width: 20%;
}

#wrapper[data-configuration="2"] > .shape:nth-child(4) {
  left: 60%;
  top: 0%;
  height: 100%;
  width: 20%;
}

#wrapper[data-configuration="2"] > .shape:nth-child(5) {
  left: 80%;
  top: 0%;
  height: 100%;
  width: 20%;
}

#wrapper[data-configuration="3"] > .shape:nth-child(1) {
  left: 10%;
  top: 0%;
  height: 100%;
  width: 10%;
}
#wrapper[data-configuration="3"] > .shape:nth-child(2) {
  left: 0%;
  top: 0%;
  height: 30%;
  width: 30%;
}

#wrapper[data-configuration="3"] > .shape:nth-child(3) {
  left: 35%;
  top: 0%;
  height: 100%;
  width: 25%;
}

#wrapper[data-configuration="3"] > .shape:nth-child(4) {
  left: 65%;
  top: 0%;
  height: 100%;
  width: 20%;
  rotate: 10deg;
}

#wrapper[data-configuration="3"] > .shape:nth-child(5) {
  left: 80%;
  top: 0%;
  height: 100%;
  width: 20%;
  rotate: -10deg;
}
