@import "tailwindcss";
@import url("../../visuals/fish/fish.css");
@import url("../../visuals/shapes/shapes.css");
@import url("../../visuals/fontawesome-free-6.2.1-web/css/all.min.css");
body {
  font-family: sans-serif, Helvetica, Arial;
  background-color: rgb(227, 210, 216);
  color: rgb(80, 9, 35);
  text-align: justify;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
  display: none;
}
body a {
  color: rgb(80, 9, 35);
}

.dark {
  background-color: rgb(20, 12, 15);
  color: lightyellow;
}
.dark a {
  background-color: rgb(20, 12, 15);
  color: lightyellow;
}

/* header {
  margin-bottom: 10px;
  margin-top: 20px;
  color: rgb(201, 48, 124);
  margin: auto;
  text-align: left;
  font-size: 20px;
} */
#logo {
  margin: auto;
  margin-left: 0px;
  height: 35px;
}

.flex-container {
  z-index: 3;
  background-color: rgb(227, 210, 216, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 3rem;
  padding: 0;
  display: flex;
  justify-content: space-between;
  line-height: 25px;
  font-size: 20px;
}

/* .flex-container > div {
  display: flex;
  margin: auto;
  line-height: 25px;
  font-size: 20px;
  float: right;
  justify-content: space-between;
} */
.navigation {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: right;
  /* margin: auto; */
  padding: 0;
  width: fit-content;
  /* overflow: scroll; */
}
.navigation a.icon {
  display: none;
}
.navigation .selected {
  text-decoration: none;
  color: hotpink;
}
.navigation a {
  margin: 5px;
  width: 150px;
  text-align: center;
  background-color: rgba(120, 6, 27, 0.66);
  border-radius: 30px;
  text-decoration: none;
  font-size: 20px;
}
.navigation a:link {
  color: white;
}
.navigation a:visited {
  color: white;
}
.navigation a:hover {
  color: hotpink;
  cursor: pointer;
}
.navigation a.selected {
  color: hotpink;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .navigation a {
    display: none;
  }
  .navigation a.icon {
    float: left;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .navigation.responsive {
    background-color: rgba(72, 7, 32, 0.338);
    float: right;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 50px;
    border-radius: 15%;
  }
  .navigation.responsive a {
    display: block;
    text-align: center;
  }
}

a:hover {
  color: hotpink;
  cursor: pointer;
}

h1 {
  margin: auto;
  margin-left: 0px;
  margin-top: 5px;
  margin-bottom: 6px;
  color: rgb(201, 48, 124);
  font-size: 20px;
}

h3 {
  float: center;
  color: salmon;
}

/* section {
  background-color: rgb(183, 173, 230);
  color: red;
} */

.about-text {
  width: 100%;
}
.contacts {
  display: flex;
  float: center;
  width: 500px;
  margin: auto;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}
.contacts > a > img {
  border-radius: 10%;
}
.porfolio-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  min-width: 300px;
  width: 25%;
  height: auto;
  border-radius: 10%;
}
.resume-download {
  background-color: rgba(139, 109, 113, 0.66);
  border-radius: 10rem;
  display: block;
  width: 150px;
  font-size: 20px;
  margin: 0;
  position: relative;
  line-height: 50px;
  text-align: center;
}

/* PROJECT */
.project-content {
  display: flex;
  flex-direction: row;
  text-align: center;
  flex-grow: 1;
  overflow: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
  transition-duration: 4000ms;
  transition-property: scroll;

  /* display: flex;
  flex-direction: row;
  text-align: center;
  flex-grow: 1;
  overflow: auto;
  justify-content: space-around; */
}
.project-info {
  border-radius: 10%;
  margin: 10px;
  /* background-color: black; */
  /* background: fixed; */
  /* height: auto; */
}
.project-info img {
  width: 200px;
  height: 200px;
  /* width: 50%;
  height: 50%; */
  border-radius: 15%;
}

/* ALBUM */
.album-content {
  display: flex;
  flex-direction: row;
  text-align: center;
  flex-grow: 1;
  overflow: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
  transition-duration: 4000ms;
  transition-property: scroll;
}
.album-content::-webkit-scrollbar {
  display: none;
}
.album-info {
  border-radius: 10%;
  margin: 10px;
  width: 300px;
  background-color: black;
  background: fixed;
  height: auto;
}

.toggle-theme {
  font-size: 40px;
  text-align: center;
  background-color: rgba(120, 6, 27, 0.66);
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 15%;
  right: 10px;
  top: 90%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(85, 12, 23, 0.692);
  color: #cfcccc;
  text-align: center;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8em;
}
